Check out https://docs.python.org/3/library/functions.html for all built in Python functions

# List operations
- append
- insert
- reverse
- extend
- index
- reverse

- duplicate removal
- unnest

In [59]:
mylist = [1,2,3]
mylist

[1, 2, 3]

In [60]:
mylist.append(4) # append 4
mylist

[1, 2, 3, 4]

In [61]:
mylist.insert(0, 100) # insert 100 in position 0
mylist

[100, 1, 2, 3, 4]

In [62]:
mylist.reverse() # reverse current order of list
mylist

[4, 3, 2, 1, 100]

In [63]:
mylist.extend([0, 25, 50, 75]) # extend list by elements in list
mylist

[4, 3, 2, 1, 100, 0, 25, 50, 75]

In [64]:
mylist.index(50) # get index of new element 50

7

In [65]:
mylist.remove(50) # remove it
mylist

[4, 3, 2, 1, 100, 0, 25, 75]

In [66]:
mylist.sort() # sort list
mylist

[0, 1, 2, 3, 4, 25, 75, 100]

In [67]:
mylist.pop() # takes the last element away from the list and returns it

100

In [68]:
mylist # list doesn't have last element

[0, 1, 2, 3, 4, 25, 75]

## Remove duplicates from list

In [25]:
mylist = [1,2,3,3]

def ordered_drop_list_duplicates(lst):
    
    return list(dict.fromkeys(lst))

ordered_drop_list_duplicates(mylist)

[1, 2, 3]

In [26]:
def drop_list_duplicates(lst):
    
    return list(set(lst))

drop_list_duplicates(mylist)

[1, 2, 3]

In [27]:
ordered_drop_list_duplicates([3,2,2,3,4,5,1,44,3,5]) # current order does matter

[3, 2, 4, 5, 1, 44]

In [28]:
drop_list_duplicates([3,2,2,3,4,5,1,44,3,5]) # order doesnt matter

[1, 2, 3, 4, 5, 44]

## List Comprehension: Unnest nested list

In [29]:
mylist = [[1,2], [3,4]]

def unnest_list(list_of_lists):
    return [list_item for sub_list in list_of_lists for list_item in sub_list]

unnest_list(mylist)

[1, 2, 3, 4]

## Map: Map function to list

In [69]:
mylist = [1,2,3,4,5,6]

def square(x):
    return x**2

def apply_function_to_list(lst, func):
    return list(map(func, lst))

apply_function_to_list(square, mylist)

[1, 4, 9, 16, 25, 36]

# Filter: Filter a list

In [70]:
list(filter(lambda x: x>=10, mylist))

[]

In [72]:
list(filter(lambda x: x>=10, apply_function_to_list(square, mylist)))

[16, 25, 36]

# Zip: Zip multiple lists together

In [73]:
my_keys = ['Alex','Marco','James']
my_values = ['pasta','strawberries','apples']

def zip_two_lists(lst1, lst2):
    return list(zip(lst1 , lst2))

zip_two_lists(my_keys,my_values)

[('Alex', 'pasta'), ('Marco', 'strawberries'), ('James', 'apples')]

In [74]:
my_surnames = ['Bushnell','Joker','Smith']

zip_two_lists(zip_two_lists(my_keys,my_values),my_surnames)

[(('Alex', 'pasta'), 'Bushnell'),
 (('Marco', 'strawberries'), 'Joker'),
 (('James', 'apples'), 'Smith')]

# Dictionary Operations
- keys
- values
- items
- update

In [14]:
mydict={'name':'Alex', 'surname':'Bushnell', 'age':22}
keys = list(mydict.keys())
keys

['name', 'surname', 'age']

In [15]:
values = list(mydict.values())
values

['Alex', 'Bushnell', 22]

In [18]:
items = list(mydict.items())
items

[('name', 'Alex'), ('surname', 'Bushnell'), ('age', 22)]

In [19]:
anotherdict = {'town':'Watford'}
mydict.update(anotherdict)
mydict

{'name': 'Alex', 'surname': 'Bushnell', 'age': 22, 'town': 'Watford'}

## Join three dictionaries with different keys

In [21]:
mydict   = {'name':'Alex', 'surname':'Bushnell', 'age':22}
towndict = {'town':'Watford'}
unidict  = {'uni':'Warwick'}

personaldict = dict(mydict,**towndict, **unidict)
personaldict

{'name': 'Alex',
 'surname': 'Bushnell',
 'age': 22,
 'town': 'Watford',
 'uni': 'Warwick'}

## Turn dict value into list and append to it

In [23]:
dicta   = {'name':'Alex', 'age':22}
dictb   = {'name':'Liam', 'age':20}

def dict_append_value(dict_obj, key, value):
    if key in dict_obj:
        if not isinstance(dict_obj[key], list):
            dict_obj[key] = [dict_obj[key]]
        dict_obj[key].append(value)
    else:
        dict_obj[key] = value
    return dict_obj

dictc = dict_append_value(dicta, 'name', dictb['name'])
dictc

{'name': ['Alex', 'Liam'], 'age': 22}

## Merge dictionaries with the same keys

In [24]:
dicta   = {'name':'Alex', 'age':22}
dictb   = {'name':'Liam', 'age':20}

def dict_append(dict1, dict2):
    dict1 = dict1.copy()
    if dict1.keys() == dict2.keys():
        for i in dict1.keys():
            if not isinstance(dict1[i], list):
                dict1[i] = [dict1[i]]
            dict1[i].append(dict2[i])
    else:
        raise Exception()
    return dict1

dictc = dict_append(dicta, dictb)
dictc

{'name': ['Alex', 'Liam'], 'age': [22, 20]}

## Dictionary comprehension: Add string to each key in a dict

In [25]:
paramdict = {'C':1e-4, 'tol':1e-5}
paramdict = {f'classifier__{k}': v for k, v in paramdict.items()}
paramdict

{'classifier__C': 0.0001, 'classifier__tol': 1e-05}

# Strings

- count occurences of a substring
- replace substring with another substring
- strip leading and trailing whitespace
- upper case string
- lower case string
- title case string

In [40]:
my_string = 'This is a tester string'

In [43]:
print(my_string.count('i')) # count occurences
print(my_string.count('is'))

3
2

In [44]:
my_string.replace('tester','really important') # replace part of string, not inplace

'This is a really important string'

In [46]:
annoying_string = f'     {my_string}      '
print(annoying_string)
annoying_string.strip() # strip trailing and leading whitespace

     This is a tester string

'This is a tester string'

In [47]:
my_string.upper() # upper case

'THIS IS A TESTER STRING'

In [48]:
my_string.lower() # lower case

'this is a tester string'

In [49]:
my_string.title() # first letter capitalised of every word

'This Is A Tester String'

# Decorators

## Timing decorator

In [75]:
import datetime as dt
import time
        
def timing_function_decorator(any_function):
    
    def timed_func(*args,**kwargs):
        
        start = dt.datetime.now()
        result = any_function(*args,**kwargs)
        end = dt.datetime.now()
        duration = end - start
        
        total_seconds = int(duration.total_seconds())
        hours, remainder = divmod(total_seconds,60*60)
        minutes, seconds = divmod(remainder,60)
        run_time = rf'{hours}hr {minutes}min {seconds}sec'
        print(rf'Run time: {run_time}')
        
        return result
    
    return timed_func

@timing_function_decorator

def power_function(x,p):
    for i in x:
        time.sleep(i)
        print(i**p)
        
power_function([1.01, 1.05, 1.1, 1.25], 15)

1.1609689553699987
2.0789281794113688
4.177248169415656
28.421709430404007
Run time: 0hr 0min 4sec

# Pandas

In [2]:
import pandas as pd

In [3]:
d = pd.DataFrame([1,2,3,4]) # from list
d

   0
0  1
1  2
2  3
3  4

In [5]:
d = pd.DataFrame([1,2,3,4], ['goals', 'shots', 'passes', 'dribbles']) # set index with other list
d

          0
goals     1
shots     2
passes    3
dribbles  4

In [11]:
d = pd.DataFrame([1,2,3,4], columns=['Col1']) # set column
d

   Col1
0     1
1     2
2     3
3     4

In [9]:
d = pd.DataFrame([[1,2,3,4], [5,6,7,8]]) # from two lists (list of lists)

print(f'{d}\n')
print(d.T)

   0  1  2  3
0  1  2  3  4
1  5  6  7  8

   0  1
0  1  5
1  2  6
2  3  7
3  4  8

In [12]:
s = pd.Series(
    {'a':123, 'b':456}
) # series from dictionary
s

a    123
b    456
dtype: int64

In [13]:
data = [
    {'a':111, 'b':222},
    {'a':333, 'b':444},
    {'b':666, 'a':555}
]

d = pd.DataFrame(data) # dataframe from list of dictionaries
d

     a    b
0  111  222
1  333  444
2  555  666

In [15]:
data = {
    'a':[1,2,3,4], 
    'b':[5,6,7,8]
}

d = pd.DataFrame(data, ['One', 'Two', 'Three', 'Four']) # dataframe from dictionary of lists
d

       a  b
One    1  5
Two    2  6
Three  3  7
Four   4  8

In [16]:
d.index

Index(['One', 'Two', 'Three', 'Four'], dtype='object')

In [17]:
d.columns

Index(['a', 'b'], dtype='object')

In [18]:
d.shape

(4, 2)

In [19]:
d.values

array([[1, 5],
       [2, 6],
       [3, 7],
       [4, 8]], dtype=int64)

In [20]:
d.apply(lambda x: x**3) # cube each value

        a    b
One     1  125
Two     8  216
Three  27  343
Four   64  512

In [22]:
d.apply(lambda row: row['a'] + 2*row['b'], axis=1) # row wise operation

One      11
Two      14
Three    17
Four     20
dtype: int64

In [24]:
d.apply(lambda col: col['One'] + 2*col['Three'], axis=0)  # column wise operation

a     7
b    19
dtype: int64