In [1]:
import pyodbc

In [2]:
def connect():
    conn_str = (
        "DRIVER={PostgreSQL Unicode};"
        "DATABASE=kubrickmonster_championship_club;"
        "UID=postgres;"
        "PWD=kubrickmle01;"
        "SERVER=kubrick-demo-db.cxnw5ozldnwq.us-east-1.rds.amazonaws.com;"
        "PORT=5432;"
        )
    conn = pyodbc.connect(conn_str)
    return conn

In [3]:
conn = connect()

InterfaceError: ('IM002', '[IM002] [Microsoft][ODBC Driver Manager] Data source name not found and no default driver specified (0) (SQLDriverConnect)')

In [ ]:
[item for item in pyodbc.drivers()] #check what drivers are available

In [6]:
#def connect():
#    conn = pyodbc.connect(Trusted_Connection='yes',
#                          driver='{SQL Server}',
#                          server=<Server Name>,
#                          database='KubrickMonster')
#    return conn
# use this to connect to a local sql server

In [4]:
cursor = conn.cursor()
# cursor is a temporary work area in system memory for when a sql statement is executed.
 
query = '''
create table monsters (
    name varchar(20),
    home varchar(20),
    strength int
)
'''
cursor.execute(query)
 
conn.commit()
conn.close()
#when you go in sql electron you will see the table in kubrickmonster..., tables, public

## Insert data

In [12]:
conn = connect()
cursor = conn.cursor()

query = '''
insert into
    monsters
values
    ('Alphys', 'Hotland', '2'),
    ('Undyne', 'Waterfall', '99'),
    ('Papryus', 'Snowdin', '35')
'''

cursor.execute(query)
conn.commit()
conn.close()

## Insert using ?'s

In [13]:
conn = connect()
cursor = conn.cursor()

data = [('Toriel','Underground', 40),
        ('Temmie','Tem Village', 40)]

for d in data:
    query = '''insert into monsters values (?,?,?)'''
    cursor.execute(query,d[0],d[1],d[2])
    
cursor.commit()
cursor.close()

## Fetching results

In [14]:
conn = connect()
cursor = conn.cursor()

query = ''' select* from monsters'''
cursor.execute(query)
results = cursor.fetchall()

cursor.close()

print(results)
#but this will fuck up your computer if it is a large db, dont need commit here

[('Alphys', 'Hotland', 2), ('Undyne', 'Waterfall', 99), ('Papryus', 'Snowdin', 35), ('Toriel', 'Underground', 40), ('Temmie', 'Tem Village', 40)]

### Fetching one at a time

In [15]:
conn = connect()
cursor = conn.cursor()

query = ''' select* from monsters'''
cursor.execute(query)
result = True
while result is not None:
    result = cursor.fetchone()
    print(result)

('Alphys', 'Hotland', 2)
('Undyne', 'Waterfall', 99)
('Papryus', 'Snowdin', 35)
('Toriel', 'Underground', 40)
('Temmie', 'Tem Village', 40)
None

In [16]:
cursor.close() #dont forget to close, dont need to commit here